.onecol-figure {
	width: 75%;
}

.twocol-figure {
	width: 45%;
	margin: 0;
	float:left;
}

figcaption {
	text-align: center;
}

.text_cell_render p a img {
	width: 100%;
}

.output_display_data img {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.MathJax_Display {
	overflow-y: hidden;
	overflow-x: auto;
}

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    padding-top: 56.3%;
    margin: 1px;
}

.fluid-width-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.narrow-video {
    max-width: 560px;
}